*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #fff;
}
h1{
    color: #fff;
}
.container{
    width: 1140px;
}
.header_top{
    padding: 20px;
}
.menuTop ul{
    list-style: none;
}
.form{
    background-color: #212529;
}
.formaa{
    margin-left: 350px;
}
.forma{
    margin: 200px 0  0 300px ;
}
